body{
    text-align: center;
    background-color: gray;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 1.25rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: #C96868;
}
.yellow{
    background-color: #FADFA1;
}
.green{
    background-color: #FFF4EA;
}
.purple{
    background-color: #7EACB5;
}

.flash{
    background-color: white;
}
